{% extends 'base.html' %}

{% block title %} Lista {% endblock %}
{% block content %}
<div>
<button type="button" class="btn btn-dark espaco btn-lg"><a href="newcontact/" class="link" style="color: white;">Adicionar Contato    <i class="fas fa-plus"></i></a></i></button>
<form method="GET" id="search-form" class="card card-sm">
  <div class="card-body row no-gutters align-items-center">
      <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="text" id="search" name="search"
          placeholder="Digite o nome da tarefa para buscar" value="{{ request.GET.search}}">
      </div>
      <div class="col-auto">
          <button  class="btn btn-dark active" type="submit"><i class="fas fa-search h4" id="search-btn" value="{{ request.GET.search}}"></i></button>
      </div>
  </div>
</form>
{% if messages %}
<div>
  {% for message in messages %}
    <div class="alert alert-success"  {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}
<table class="table table-hover table-striped table-responsive">
    <thead>
      <tr class="table-dark">
        <th scope="col">Contato</th>
        <th scope="col">Número</th>
        <th scope="col">Email</th>
        <th scope="col">Data Criação</th>
        <th scope="col">Categoria</th>
        <th scope="col">Editar</th>
        <th scope="col">Apagar</th>
      </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
          <th scope="row"><a href="/contact/{{ contact.id }}" class="link" style="color: black;">{{ contact.name }}</a></th>
            <td>{{ contact.number }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.creation_data }}</td>
            <td>{{ contact.category }}</td>
            <td><a href="edit/{{contact.id}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="delete/{{contact.id}}" class="delete-btn"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
  <div class="pagination ">
    <ul class="pagination pagination-lg">
        {% for pagina in contacts.paginator.page_range %}
          {% if contacts.number == pagina %}
            <li class="page-item active"><a class="page-link bg-dark" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a></li>
          {%endif%}
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}




