{% extends 'base.html' %}

{% block title %} Lista {% endblock %}
{% block content %}
<h2><span class="badge bg-secondary bg-dark"><a href="newcontact/" class="link" style="color: white;">Adicionar Contato</a></span></h2>
<table class="table table-hover table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">Contato</th>
        <th scope="col">Número</th>
        <th scope="col">Email</th>
        <th scope="col">Data Criação</th>
        <th scope="col">Categoria</th>
        <th scope="col">Editar</th>
        <th scope="col">Apagar</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
          <th scope="row"><a href="/contact/{{ contact.id }}" class="link" style="color: black;">{{ contact.contact_name }}</a></th>
            <td>{{ contact.contact_number }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.creation_data }}</td>
            <td>{{ contact.category }}</td>
            <td><a href="edit/{{contact.id}}"><i class="fas fa-edit"></i></a></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}




